body {
    text-align: center;
}
.colors {
    border: 10px dashed dodgerblue;
    background-color: tomato;
    padding: 1%;
    margin: 1%;
    color: white;
    font-size: 5vw;
}
.container {
    border: 20px solid dodgerblue;
    background-color: lightgray;
    padding: 1%;
    margin: 1%;
    color: white;
}
.row {
    border: 10px solid slateblue;
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    font-size: 2vw;
    text-align: center;
}
.row-1 {
}
.row-2 {
}
.row-3 {
}
a {
    text-decoration: none;
}
span {
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    width: 22.5%;
    padding: 2% 0;
    margin: 0 2% 0 0;
    color: white;
}
span:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.425), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.425);
}
span:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.425), inset 0px 0px 20px 5px rgba(0, 0, 0, 0.425);
}

.Tomato {
    background-color: tomato;
}
.Orange {
    background-color: orange;
}
.DodgerBlue {
    background-color: dodgerblue;
}
.MediumSeaGreen {
    background-color: mediumseagreen;
    margin: 0%;
}
.Gray {
    background-color: gray;
}
.SlateBlue {
    background-color: slateblue;
}
.Violet {
    background-color: violet;
}
.LightGray {
    background-color: lightgray;
    margin: 0%;
}

.title {
    background-color: dodgerblue;
    padding: 1%;
    margin: 1%;
    font-size: 3vw;
    transition: 0.3s;
    color: #fff;
}
.title:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.425), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.425);
}
.text {
    background-color: tomato;
    padding: 1%;
    margin: 1%;
    transition: 0.3s;
}
.text:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.425), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.425);
}
.text span {
    width: unset;
    margin: 0;
    padding: 0 1%;
    background-color: #fff;
    color: tomato;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.text span:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.425), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.425);
}
.text span:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.425), inset 0px 0px 10px 2px rgba(0, 0, 0, 0.74);
}
